@media (min-width: 768px) {
    .main {
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media (max-width: 260px) {
    body {
        width: 260px;
    }
}
@media (min-width: 1200px) {
    #main {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .main {
        background: #f6f5f6;
    }
    .content-wrapper {
        background: #dbdbe3;
    }
}
html{
    position:relative;
    height: auto;
}
body {
    height: auto;
    /* padding-top: 3.5em; */
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    overflow: hidden;
    padding-bottom: 5%;
    background: #f6f5f6;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.row {
    margin: 0;
    overflow: auto;
    height: 100%;
}
.panel-group {
    margin: 0;
}
.main .page-header {
    margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/*------------------------------------------------------------------------------
 Score Table
------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/

/* .popBody
{
    margin: 0px;
    padding-bottom: 0px;
    width:100%;
	height:220px;
	overflow-y:hidden;
	overflow-x:auto;
}

.poptable2
{
	width:98.75%;
    height:auto;
    margin-bottom: 0px;
}

.poptable
{
	width:100%;
    height:150px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#Ingredients
{
    text-align: center;
    display: inline-block;
	height:160px;
	overflow-y: auto;
    overflow-x: hidden;
	width: 100%;
}

.number {
    width: 10px;
    text-align: center;
}
.other {
    text-align: center;
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.other2 {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}*/


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */


/*
 * Sidebar
 */

/* Hide for mobile, show later */
/*.sidebar {
  display: none;
}*/
/*@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #325c80;
    border-right: 1px solid #eee;
    color: #FFFFFF;
  }
}*/

/* Sidebar navigation */
/*.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}*/


/*
 * Main content
 */
 .custom-button-style{
    border-radius: 0;
    font-size:13px;
 }
.custom-button-style:hover {
    box-shadow: none;}

.custom-button-style:active {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
}



.loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    /* background-image: url("http://i.stack.imgur.com/MnyxU.gif"); */
    background-repeat: no-repeat;
    background-position: center;
}


/* custom radio button */
input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
  }
  
  input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
  }
  
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
  }
  input[type='radio']:checked:before {
    background:rgb(82, 145, 255)!important;
  }


.custom-btn {
    display: inline-block;
    margin-bottom: 0;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid rgba(216,216,216,1);
    white-space: nowrap;
    padding: 8px 11px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* custom button for organiser - remove*/
.organiser-remove-button {
    color:  rgba(83,146,255,1)!important;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid gray;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:  #FFFFFF !important;
}
.organiser-remove-button:hover {
    background-color:  #d9534f !important;
    color:  white !important;
}
.organiser-spin-icon{
    background-color:  #FFFFFF !important;
    color: rgb(82, 145, 255)!important;
    border-radius:0;
}
/* organiser-add-button */
.organiser-add-button{
    height: 42px;
    color:  rgba(83,146,255,1)!important;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid gray;
    white-space: nowrap;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:  #FFFFFF !important;

}
.organiser-add-button:hover {
    background-color:  #d9534f !important;
    color:  white !important;
}
.input-size{
    border-radius: 0;
    height: 42px;
}
.button-action-size{
    height: 42px;
    width: 42px;
}

.custom-radio-button-alignment{
    vertical-align: super;
}

.default-button-action {
    text-decoration: none;
    height: 42px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    
}
.button-action-save-all {
    text-decoration: none;
    height: 42px;
    width: 123px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
}
.spin-action-save-all {
    text-decoration: none;
    height: 42px;
    width: 123px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-image: none;
    border: 1px solid gray;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    pointer-events: none;
}

.pointer-button{
    cursor: pointer;
}
