.customAccordion-arrowDown {
    background: url(./svg/arrow-down.svg) center no-repeat;
    background-size: 3em 3em;
    height: 0.9em;
    width: 0.9em;
    border-width: 0;
    float:right;
    vertical-align: baseline;
    line-height: normal;
}

.customAccordion-arrowUp {
    background: url(./svg/arrow-up.svg) center no-repeat;
    background-size: 3em 3em;
    height: 0.9em;
    width: 0.9em;
    border-width: 0;
    float:right;
    vertical-align: baseline;
    line-height: normal;
}

.accordionHead-Score-view-table-numbers {
    width: 10%;
    text-align: left;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
    vertical-align: baseline;
}

.accordionHead-Score-view-table-names {
    width: 65%;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: normal;
    vertical-align: baseline;
}

.accordionHead-Score-view-table-totals {
    width: 10%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: normal;
    vertical-align: baseline;
}

.accordionHead-Score-view-table-arow {
    width: 15%;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
    vertical-align: baseline;
}

.accordionBody-Score-view-table-numbers {
    padding-top: 1em;
    padding-bottom: 0.938em;
    width: 10%;
    text-align: left;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #c9d3cf;
    line-height: normal;
    vertical-align: baseline;
}

.accordionBody-Score-view-table-names {
    padding-top: 1em;
    padding-bottom: 0.938em;
    width: 65%;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #c9d3cf;
    line-height: normal;
    vertical-align: baseline;
}

.accordionBody-Score-view-table-totals {
    color: #424747;
    padding-top: 1em;
    padding-bottom: 0.938em;
    width: 10%;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #c9d3cf;
    line-height: normal;
    vertical-align: baseline;
}

.accordionBody-Score-view-table-arow {
    padding-top: 1em;
    padding-bottom: 0.938em;
    width: 15%;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #c9d3cf;
    line-height: normal;
    vertical-align: baseline;
}

.accordionBody-Score-view-table-teamDescription-Numbers {
    padding-top: 0em;
    padding-bottom: 0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 10%;
    text-align: left;
    font-weight: bold;
    line-height: normal;
    vertical-align: baseline;
}

.accordionHead-Score-view-table-teamDescription-Name {
    padding-top: 0.625em;
    padding-bottom: 0em;
    width: 90%;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
    vertical-align: baseline;
}

.accordionBody-Score-view-table-teamDescription-Text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #374242;
    font-size: 0.9em;
    padding-top: 0em;
    padding-bottom: 0em;
    width: 80%;
    text-align: left;
    line-height: normal;
    vertical-align: baseline;
}

.back-table-numbers {
    width: 10%;
    text-align: left;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
    vertical-align: baseline;
}

.back-table-names {
    width: 65%;
    text-align: left;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
    vertical-align: baseline;
}

.back-table-totals {
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
    vertical-align: baseline;
}

.back-table-arow {
    width: 15%;
    text-align: center;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
    vertical-align: baseline;
}

.back-table-collNames {
    padding: 0;
    font-size: 0.9em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: normal;
    color: #000000;
    vertical-align: baseline;
}

.backgroundforText {
    margin-left: 4.84375%;
    margin-right: 4.84375%;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

.backgroundColor {
    background-color: #f6f5f6;
    border-bottom: 1px solid #c9d3cf;
}

.nameOfObjectBelow {
    background-color: #f6f5f6;
    margin: 0;
    position: inherit;
    padding-left: 4.84375%;
    padding-right: 4.84375%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
}

    .nameOfObjectBelow p {
        margin: 0;
    }

.floating-box-scores {
    float: left;
    margin-left:10%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 4.84375%;
    padding-left: 4.84375%;

}

.floating-box-button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 4.84375%;
    padding-left: 4.84375%;
}

/* ============new styles=============== */
.accordionHead-team-open{
    border-bottom: 1px solid #D8D8D8;
}

.accordionHead-team{
    background: #FFFFFF;
}

.accordionBody-personDescription{
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
}

.accordionBody-criteria{
    font-family: Helvetica;
    font-size: 14px;
    color: #424747;
    letter-spacing: 0.2px;
    line-height: 20px;
}

.accordionBody-teamDescription-box{
    opacity: 0.8;
    font-family: Helvetica;
    font-size: 14px;
    font-style: oblique;
    color: #424747;
    letter-spacing: 0.2px;
    border-top: 1px solid #D8D8D8;
}

/* === Live scores table related styles === */

.liveScoresTable-teamSection {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.07em;
    background-color: ivory;
    font-weight: bold;
    line-height: normal;
    vertical-align: baseline;
}

.liveScoresTable-teamSection-grouping {
    border-bottom: 1px solid palegoldenrod;
}

.liveScoresTable-teamSection:hover {
    background-color: lemonchiffon;
}

.liveScoresTable-criteriaSection {
    font-family: Helvetica;
    font-size: 10px;
    color: #424747;
    letter-spacing: 0.2px;
    line-height: 12px;
}

#labelFor_refreshScoresHideCriteria:hover {
    background-color: silver;
}

/* === End of: Live scores table related styles === */
