<div id="score" ng-include="'templates/scoreTableTemplate.html'" ng-controller="scoreTableController"></div>
<div id="details" ng-include="'templates/hackathonDetails.html'" ng-controller="hackathonController"></div>
<div id="judges" ng-include="'templates/judgeTemplate.html'" ng-controller="judgeController"></div>
<div id="organisers" ng-include="'templates/judgeTemplate.html'" ng-controller="organisersController"></div>
<div id="mentors" ng-include="'templates/judgeTemplate.html'" ng-controller="mentorsController"></div>
