<div controller="reportController as rc">
    <div class="container" style="margin-bottom: 50px; padding-left: 0; ">
        <!-- <div id="report-view"> -->
        <div class="w3-margin-bottom">
            <h2>Report</h2>
            <!-- <h1 id="report-label" style="text-align:left;">Report</h1> -->
            <!-- <span style="float:left;"> -->
                <form class="w3-responsive">
                 <div class="w3-table-all" style="border:0">
                
                        
                        <div class="filter-td w3-left">
                            <input class="form-control judge-filter" ng-model="judge" placeholder="Judge"
                            uib-typeahead="judge for judge in judgeArray | filter:$viewValue | limitTo:8"
                            typeahead-on-select="filterElement.judge($item)">
                        </div>
                        <div class="filter-td w3-left">
                            <button class="btn btn-default form-control" ng-click="filterElement.clearFilters()" style="margin-bottom: 4px"
                                ng-class="{disabled : dataLoading}">Clear</button>
                        </div>
                        <div class="filter-td w3-right">
                                <button class="btn custom-button-style form-control main-theme-color" ng-click="createCSV()" style="margin-bottom: 4px"
                                    ng-class="{disabled : dataLoading}">Download CSV</button>
                            </div>
                    </div>
                 
                    <!-- </table> -->
                </form>
            <!-- </span> -->

            <table class="w3-bar">
                <tbody>
                    <tr ng-repeat="(judge, criteriaObj) in nestedInfo" ng-init="judgeShort = (judge | removeSpace)">
                        <td ng-init="criterias = criteriaObj;" ng-class="{'remove' : judgeShort != judgeToHide && judgeFileFilterOn}" class="report-table">
                            <h3 class="judge-name"><b>{{judge}}</b></h3>
                            <hr class="judge-hr">
                            <table class="report-table">
                                <tr>
                                    <td class="report-td">
                                        <table>
                                            <tr>
                                                <td class="criteria-label-td">
                                                    <p class="team-name">Team / Criteria</p>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="team in teamAray">
                                                <td class="team-name" uib-popover="{{team}}" popover-trigger="mouseenter">{{team | stringCut}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <td ng-repeat="(criteria, teamObj) in criterias" class="border-left" ng-init="criteriaShort = (criteria | removeSpace)">
                                                <table ng-init="teams = teamObj;" style="display:inline;">
                                                    <table>
                                                        <tr>
                                                            <td class="criteria-td">
                                                                <p class="criteria-name" uib-popover="{{criteria}}" popover-trigger="mouseenter">{{criteria}}</p>
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat="(team, score) in teams">
                                                            <td class="team-score">{{score | checkForNull}} </td>
                                                        </tr>
                                                    </table>
                                                </table>
                                            </td>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>