<div class="nameOfObjectBelow">
    <p>Scores of {{info.NAME}}</p>
</div>
<div class="w3-panel">
    <!-- <div class="w3-bar w3-black w3-row" style="font-weight:bold;line-height: 0.5;">
        <span class="w3-bar-item w3-col s4 m2 l2">#  Team</span>
        <span class="w3-bar-item w3-col s1 m1 l1 w3-right"></span>
        <span class="w3-bar-item w3-col s2 m1 l1 w3-right" style="text-align:center">Total</span>
        <span class="w3-bar-item w3-col w3-rest"></span>
    </div> -->

    <table class="w3-table-all">
        <tr class="w3-black" style="font-weight:bold;line-height: 0.5;">
            <td style="width:10%">#</td>
            <td style="width:60%">Team</td>
            <td style="width:20%;text-align:right">Total</td>
            <td style="width:10%"></td>
        </tr>
    </table>
    <uib-accordion close-others='true'>
        <div class="customAccordion" after-render>
            <uib-accordion-group ng-repeat="line in lines" is-open="status.open">

                <uib-accordion-heading>
                    <!-- <div ng-class="{
                        'accordionClosed': !status.open,
                        'accordionOpened': status.open
                    }">
                        <div ng-class="{
                            'accordionHeadClosed': !status.open,
                            'accordionHeadOpened': status.open
                        }"> 
                            <table class="accordionHead-Score-view-table-collNames">
                                <td class="accordionHead-Score-view-table-numbers ng-binding"> {{line.NAME}} </td>
                                <td> <span style="float:right" ng-bind="teamScores[{{line.ID}}].score"></span> </td>
                                <td class="accordionHead-Score-view-table-totals ng-binding"> <div ng-class="{
                                        'customAccordion-arrowDown': !status.open,
                                        'customAccordion-arrowUp': status.open
                                    }"></div>
                                </td>
                            </table>
                        </div>
                    </div> -->
                    
                    <!-- accordion header panel -->
                    <!-- <div ng-class="{
                        'customAccordion-front-panel-text': !status.open,
                        'customAccordion-front-panel-text-open': status.open
                    }"
                    class="w3-bar w3-row">
                        <span class="w3-bar-item w3-col s3 m3 l3">{{line.NAME}}</span>
                        <span class="w3-bar-item w3-col s1 m1 l1 w3-right" style="color:#5392FF;padding-left:6px;" >
                            <span style="font-size: 20pt;" ng-class="{ 
                                'fa fa-angle-down fa-lg': !status.open,
                                'fa fa-angle-up fa-lg': status.open
                            }">
                            </span>
                        </span>
                        <span class="w3-bar-item w3-col s2 m1 l1 w3-right" style="text-align:center" ng-bind="teamScores[line.ID].score">-</span>
                        <span class="w3-bar-item w3-col w3-rest"></span>
                    </div> -->

                    <table class="w3-table" ng-class="{
                        'customAccordion-front-panel-text': !status.open,
                        'customAccordion-front-panel-text-open': status.open}">
                        <tr class="accordionHead-team">
                            <td style="width:10%"></td>
                            <td style="width:60%" ng-class="{'accordionHead-team-open': status.open}">{{line.NAME}}</td>
                            <td style="width:20%;text-align:right" ng-class="{'accordionHead-team-open': status.open}" ng-bind="teamScores[line.ID].score">-</td>
                            <td style="width:10%;color:#5392FF;">
                                <span style="font-size: 20pt;" ng-class="{
                                'fa fa-angle-down fa-lg': !status.open,
                                'fa fa-angle-up fa-lg': status.open
                                }">
                                </span>
                            </td>
                        </tr>
                    </table>

                </uib-accordion-heading>

                <!-- <div class='accordionBodyScoring'>
                    <table class='accordionHeadSimple-table-scoring' table table-relative>
                        <tr ng-repeat="key in kegen | filter:'!' + 'NAME' | filter:'!' + 'ID'">
                            <td class="accordionHead-Score-edit-table-name">
                                {{displayName(key)}}
                                <div class="teamDescription-Text">
                                    {{displayDesc(key)}}
                                </div>
                            </td>
                            <td ng-if="info.VOTINGTYPE == 2" class="accordionHead-Score-edit-table-minus">
                                <button class="customAccordion-judge-remove-score" ng-disabled="teamScores[line.ID].saved" ng-click="decrement(line[key], line, key); getTeamScore(line.ID); "></button>
                            </td>
                            <td ng-if="info.VOTINGTYPE == 2" class="accordionHead-Score-edit-table-score">
                                <span ng-model="line[key]">{{line[key]}}</span>
                            </td>
                            <td ng-if="info.VOTINGTYPE == 1" class="accordionHead-Score-edit-table-plus">
                                <span 
                                        ng-class="{'fa fa-heart heart-hover-color fa-2x': hover, 'fa fa-heart heart-default-color fa-2x': !hover}" 
                                        ng-show="btnLike.show_{{line.ID}}_{{key}}"
                                        ng-init="hover = false" 
                                        ng-mouseenter="hover = true" 
                                        ng-mouseleave="hover = false" 
                                        ng-click="increment(line[key], line, key); prepPayloadLike(line, key, true); teamScores[line.ID] = teamScores[line.ID] + 1; toggleLike('show' + '_' + line.ID + '_' + key); "></span> 
                                <span  class="heart-selected-color"
                                        ng-class="{'fa fa-heart heart-hover-color fa-2x': !hover, 'fa fa-heart heart-default-color fa-2x': hover}" 
                                        ng-hide="btnLike.show_{{line.ID}}_{{key}}" 
                                        ng-init="hover = false" 
                                        ng-mouseenter="hover = true" 
                                        ng-mouseleave="hover = false" 
                                        ng-click="decrement(line[key], line, key); prepPayloadLike(line, key, false); teamScores[line.ID] = teamScores[line.ID] - 1; toggleLike('show' + '_' + line.ID + '_' + key); "></span>
                            </td>
                            <td ng-if="info.VOTINGTYPE == 2" class="accordionHead-Score-edit-table-plus">
                                <button class="customAccordion-judge-add-score" ng-disabled="teamScores[line.ID].saved" ng-click="increment(line[key], line, key); getTeamScore(line.ID);"></button>
                            </td>
                        <tr>
                    </table>
                    <div ng-if="info.VOTINGTYPE == 2" class="save-button-at-score-edit"> -->
                        <!-- <button ng-hide="teamScores[line.ID].saved" id="save-changed-scores-button" type="button" class="btn btn-primary" value="Save" ng-click=" status.open = !status.open; prepPayload(line, false); teamScores[line.ID].saved = true"> 
                            {{ "Save" }}
                        </button> -->
                        <!-- <button type="button" class="btn btn-primary" id="save-changed-scores-button-loading" ng-show="savejudgeScore">
                            <i class="fa fa-cog fa-spin"></i>
                        </button> -->
                        <!-- <button ng-show="teamScores[line.ID].saved" id="save-changed-scores-button" type="button" class="btn btn-danger" value="Save" ng-click="prepPayload(line, true); teamScores[line.ID].saved = false"> 
                            {{ "Undo" }}
                        </button>
                    </div>
                </div> -->

                 <!-- voting on criteria -->
                 <div ng-class="{
                    '': !status.open,
                    'customAccordion-group-open': status.open
                }" >
                    <!-- <div class="w3-bar w3-row customAccordion-front-panel-text" ng-repeat="key in kegen | filter:'!' + 'NAME' | filter:'!' + 'ID'"> -->
                        
                        
                        <!-- space -->
                        <!-- <span class="w3-bar-item w3-col s1 m1 l1 w3-right" ng-if="info.VOTINGTYPE == 1" >
                        </span> -->
                        <!-- like / unlike -->
                        <!-- <span class="w3-bar-item w3-col s2 m1 w3-right" style="color:#5392FF;text-align:center;" ng-if="info.VOTINGTYPE == 1">
                            <span 
                                ng-class="{'fa fa-heart heart-hover-color fa-2x': hover, 'fa fa-heart heart-default-color fa-2x': !hover}" 
                                ng-show="btnLike.show_{{line.ID}}_{{key}}"
                                ng-init="hover = false" 
                                ng-mouseenter="hover = true" 
                                ng-mouseleave="hover = false" 
                                ng-click="increment(line[key], line, key); prepPayloadLike(line, key, true); teamScores[line.ID].score = teamScores[line.ID].score + 1; toggleLike('show' + '_' + line.ID + '_' + key); "></span> 
                            <span  class="heart-selected-color"
                                ng-class="{'fa fa-heart heart-hover-color fa-2x': !hover, 'fa fa-heart heart-default-color fa-2x': hover}" 
                                ng-hide="btnLike.show_{{line.ID}}_{{key}}" 
                                ng-init="hover = false" 
                                ng-mouseenter="hover = true" 
                                ng-mouseleave="hover = false" 
                                ng-click="decrement(line[key], line, key); prepPayloadLike(line, key, false); teamScores[line.ID].score = teamScores[line.ID].score - 1; toggleLike('show' + '_' + line.ID + '_' + key); "></span>
                        </span> -->

                        <!-- button plus -->
                        <!-- <span class="w3-bar-item w3-col s1 m1 l1 w3-right" ng-if="info.VOTINGTYPE == 2" style="color:#5392FF;padding-left:8px;" >
                                <button style="border:none;background:none;padding-left:0px;padding-right:0px;" ng-disabled="teamScores[line.ID].saved" 
                                ng-click="increment(line[key], line, key); getTeamScore(line.ID);">
                                    <span class="fa fa-plus fa-lg"></span>
                                </button>
                        </span> -->
                        <!-- number -->
                        <!-- <span class="w3-bar-item w3-col s2 m1 w3-right" style="text-align:center;" ng-if="info.VOTINGTYPE == 2">
                            <span style="color:black" ng-model="line[key]">{{line[key]}}</span>
                        </span> -->
                        <!-- button minus -->
                        <!-- <span class="w3-bar-item w3-col s1 m1 w3-right" ng-if="info.VOTINGTYPE == 2" style="color:#5392FF;text-align:center;">
                                <button style="border:none;background:none" ng-disabled="teamScores[line.ID].saved" ng-click="decrement(line[key], line, key); getTeamScore(line.ID);">
                                    <span class="fa fa-minus fa-lg"></span>
                                </button>
                            </span> -->
                        <!-- name -->
                        <!-- <span class="w3-bar-item w3-col w3-twothird">
                            <div class="w3-row">
                                <p class="customAccordion-criteria w3-col s3 m1 l1">{{displayName(key)}}</p>
                            </div>
                            <div class="w3-row">
                                <p class="customAccordion-criteria-desc w3-col w3-rest">{{displayDesc(key)}}</p>
                            </div>
                        </span>
                    </div> -->



                    <table class="w3-table" ng-if="info.VOTINGTYPE == 2">
                        <tr class="customAccordion-front-panel-criteria-text" ng-repeat="key in kegen | filter:'!' + 'NAME' | filter:'!' + 'ID'">
                            <td style="width:10%"></td>
                            <td style="width:60%">
                                <div class="w3-cell-row">
                                    <p class="customAccordion-criteria">{{displayName(key)}}</p>
                                </div>
                                <div class="w3-cell-row">
                                    <p class="customAccordion-criteria-desc">{{displayDesc(key)}}</p>
                                </div>
                            </td>
                            <!-- <td style="width:10%;color:#5392FF;text-align:right">
                                   
                            </td> -->
                            <td style="width:20%;text-align:right">
                                <button style="border:none;background:none;padding-left:0px;padding-right:10px;" ng-disabled="teamScores[line.ID].saved" 
                                        ng-click="decrement(line[key], line, key); getTeamScore(line.ID);">
                                    <span class="fa fa-minus fa-lg" style="color:#5392FF;"></span>
                                </button>
                                <span style="color:black" ng-model="line[key]">{{line[key]}}</span>
                            </td>
                            <td style="width:10%;color:#5392FF">
                                <button style="border:none;background:none;padding-left:0px;padding-right:0px;" ng-disabled="teamScores[line.ID].saved" 
                                        ng-click="increment(line[key], line, key); getTeamScore(line.ID);">
                                    <span class="fa fa-plus fa-lg"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
    
                    <table class="w3-table" ng-if="info.VOTINGTYPE == 1">
                        <tr class="customAccordion-front-panel-text" ng-repeat="key in kegen | filter:'!' + 'NAME' | filter:'!' + 'ID'">
                            <td style="width:10%"></td>
                            <td style="width:70%">
                                <div class="w3-cell-row">
                                    <p class="customAccordion-criteria">{{displayName(key)}}</p>
                                </div>
                                <div class="w3-cell-row">
                                    <p class="customAccordion-criteria-desc">{{displayDesc(key)}}</p>
                                </div>
                            </td>
                            <td style="width:10%;text-align:right">
                                <span class="fa fa-heart heart-default-color fa-2x"
                                    style="cursor: pointer"
                                    ng-show="btnLike.show_{{line.ID}}_{{key}}"
                                    ng-click="increment(line[key], line, key); prepPayloadLike(line, key, true); teamScores[line.ID].score = teamScores[line.ID].score + 1; toggleLike('show' + '_' + line.ID + '_' + key); ">
                                </span>
                                <!-- ng-init="hover = false" 
                                ng-mouseenter="hover = true" 
                                ng-mouseleave="hover = false"
                                ng-class="{'fa fa-heart heart-hover-color fa-2x': hover, 'fa fa-heart heart-default-color fa-2x': !hover}"   -->
                                <span  class="fa fa-heart heart-selected-color fa-2x"
                                    style="cursor: pointer"
                                    ng-hide="btnLike.show_{{line.ID}}_{{key}}" 
                                    ng-click="decrement(line[key], line, key); prepPayloadLike(line, key, false); teamScores[line.ID].score = teamScores[line.ID].score - 1; toggleLike('show' + '_' + line.ID + '_' + key); ">
                                </span>
                                <!-- ng-init="hover = false" 
                                ng-mouseenter="hover = true" 
                                ng-mouseleave="hover = false" 
                                ng-class="{'fa fa-heart heart-hover-color fa-2x': !hover, 'fa fa-heart heart-default-color fa-2x': hover}" -->
                            </td>
                            <td style="width:10%;">
                            </td>
                        </tr>
                    </table>

                    <!-- save btn -->
                    <div style="text-align:center;" ng-if="info.VOTINGTYPE == 2" >
                        <button ng-hide="teamScores[line.ID].saved" type="button" style="width:50%;box-shadow: none;" class="custom-button-style btn main-theme-color" value="Save" 
                                ng-click=" status.open = !status.open; prepPayload(line, false); teamScores[line.ID].saved = true">
                            {{ "Submit voting results" }}
                        </button>
                        <button ng-show="teamScores[line.ID].saved" type="button" style="width:50%;box-shadow: none;" class="custom-button-style btn main-theme-color" value="Save" 
                                ng-click="prepPayload(line, true); teamScores[line.ID].saved = false">
                            {{ "Undo vote" }}
                        </button>

                        <!-- <button type="button" class="w3-btn w3-indigo" ng-show="savejudgeScore">
                            <i class="fa fa-cog fa-spin"></i>
                        </button> -->
                    </div>
                </div>
            </uib-accordion-group>
        </div>
    </uib-accordion>
</div>
<br>
<div ng-if="!isLoaded()" class="loading" >
        <div class="w3-display-middle">
            <i class="fa fa-spinner fa-spin fa-5x "></i>
        </div>
    </div>
